<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adminty - Premium Admin Template by Colorlib </title>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">

    <!-- Favicon icon -->
    <link rel="icon" href="files\assets\images\favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="files\bower_components\bootstrap\css\bootstrap.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="files\assets\icon\feather\css\feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="files\assets\css\style.css">
    <link rel="stylesheet" type="text/css" href="files\assets\css\jquery.mCustomScrollbar.css">

    <!--체크박스-->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">

    <!--D3.JS-->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://d3js.org/d3.v4.js"></script>
    <script src="files\assets\js\d3_draw.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>

    <!-- 그리드스택 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.min.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/gridstack@0.5.5/dist/gridstack.all.js"></script>

  <!--캘린더-->
<link href="files\bower_components\dist\css\airdatepicker.css" rel="stylesheet" type="text/css">
<script src="files\bower_components\dist\js\airdatepicker.js"></script>

<!-- Include English language -->
<script src="files\bower_components\dist\js\i18n\datepicker.en.js"></script>


    <script>
        var chartchoice = "svg-container";
        var divnum = 0;
        var car_select = null;
        var claender_check = 0; //캘린더 처음 클릭인지 두번째 클릭인지 확인
        var company = "B2B_1"; //어떤 회사인지
        var category = "driving_type"; //어떤 카테고리인지
        var subclass = null;  // 어떤 서브클래스인지
        var korsubclass = null; // 서브클래스 한글명
        var chartType = "simplebar"; //차트 형태선택
        var x_value = "carID" 
        var y_value = "count"
        var car_ID = new Array();//날짜별 차량 선택할때 확인
        var car_location = 0; //연도별에서 차량 ID보여주는 현재 페이지
        var car_mlocation = 0;
        var rangeslider_value = 60;
        var calender_start = null;
        var calender_end = null;
//인증
        function auth(data){
            if(data == '401'){
                alert("로그인이 필요합니다.")
                location.replace('/');
            }
        }


    //회사 설정     
        function selectcompany(x){
            company = x;
            $('#nav-company-tab').text(company);
            if(x == "Predictive"){

                $("#styleSelector").attr('class', '')
                $("#open_button").css("pointer-events", "none");
                $('#styleSelector *').fadeTo('slow', .6);

                hongikgetlist();
                $('.firstdiv').css("display", "none");
                $('.lastdiv').css("display", "inline-block");
            }
            else{
                $("#open_button").css("pointer-events", "auto");
                $('#styleSelector *').fadeTo('slow', 1);
                $('#x_default').trigger('click');

                $('.firstdiv').css("display", "inline-block");
                $('.lastdiv').css("display", "none");   
                $('#nav-category-tab').last().trigger('click');
                $('#nav-category-tab').focus();
            }
        }
        //메인 카테고리 설정        
        function selectcategory(x){
            category = x;
            if(category == "driving_type"){
                $('#driving_type').css("display", "block");   
                $('#car_manage').css("display", "none");   
                $('#etc').css("display", "none");   
            }
            else if (category == "car_manage"){
                $('#car_manage').css("display", "block");   
                $('#driving_type').css("display", "none");   
                $('#etc').css("display", "none"); 
            }
            else{
                $('#etc').css("display", "block");   
                $('#driving_type').css("display", "none");   
                $('#car_manage').css("display", "none");   
            }
            $('#nav-subclass-tab').last().trigger('click');
            $('#nav-subclass-tab').focus();
            $('#nav-category-tab').text(category);
        }
//최초 홍익대 목록 그리기
function hongikgetlist(){
    $.get("/index/hongikgetlist", 
    { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
    // 서버가 필요한 정보를 같이 보냄. 
        function(data, status) {
            console.log(data);
            for(var i = 0; i < data.length; i++){
                $("#car_select").append("<option value='"+data[i]+"'>"+data[i]+"</option>")
            }
        } 
)
}

//최초 총데이터 차트 그리기
function firstdraw(){
    $.get("/index/firstdraw", 
    { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
    // 서버가 필요한 정보를 같이 보냄. 
        function(data, status) {
            donutbar(data);
        } 
) 
}


//차트에 필요한 데이터 요청
        function selectsubclass(x){
            $('#nav-subclass-tab').last().trigger('click');
            $('#nav-subclass-tab').focus();
            $('.loading_div').css("display", "block");
            subclass = x;
            if(chartType == 'groupbar' && x_value != 'CAR_ID'){
                $.get("/index/groupdraw", 
                { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
            // 서버가 필요한 정보를 같이 보냄. 
                    function(data, status) {
                        console.log(data)
                        $('.loading_div').css("display", "none");
                        if( !data[0] ){
                            alert("데이터가 없습니다")
                        } else{
                                calgroupbar(data, chartchoice);
                        }
                    } 
                ) 
            } else if(chartType == 'donut'){
                if(subclass != "total_data"){
                    alert("도넛차트는 총 데이터에만 이용할 수 있습니다.")
                    $('.loading_div').css("display", "none");
                } else{            // 서버가 필요한 정보를 같이 보냄. 
                    $.get("/index/donutdraw", { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
                    function(data, status) {
                        console.log(data)
                        $('.loading_div').css("display", "none");
                        if( !data[0] ){
                            alert("데이터가 없습니다")
                        } else{
                                donutbar(data, chartchoice);
                        }
                    } 
                    )
                }
            } else{
                $.get("/index/chartdraw", 
                { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
            // 서버가 필요한 정보를 같이 보냄. 
                    function(data, status) {
                        console.log(status)
                        $('.loading_div').css("display", "none");
                        if( !data[0] ){
                            if(subclass == 'total_data'){
                                if(x_value != "CAR_ID"){
                                    alert("차량아이디로 이용하세요")
                                }else {
                                    alert("도넛차트를 이용하세요")
                                }
                            } else{
                                alert("데이터가 없습니다")
                            }
                        } else{
                            if(chartType == 'simplebar'){
                                simplebar(data, chartchoice);
                            } else if(chartType == 'groupbar'){
                                groupbar(data, chartchoice);
                            } else if(chartType == 'line'){
                                linechart(data, chartchoice);
                            } else if(chartType == 'groupline'){
                                grouplinechart(data, chartchoice);
                            } 
                        }
                    } 
                ) 
            }
        }
//차트에 필요한 카 입력
        function selectCarID(x){
                        if($("#"+x).is(":checked")){
                            if(car_ID.length >= 1 && chartType != 'groupbar'){
                                alert('두개이상의 선택은 그룹 차트만 가능합니다')
                                $("#"+x).prop("checked", false)
                            } else{
                                car_ID.push(x);
                                selectsubclass(subclass);
                            }
                        }else{
                            car_ID.splice(car_ID.indexOf(x),1);
                            selectsubclass(subclass);
                        }
        }


//캘린더 클릭시 사용가능한 차 종류 만들어냄
        function getcarList(start, end){
            car_ID = [];
            $.get("/index/getcarlist", 
            { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
            // 서버가 필요한 정보를 같이 보냄. 
                function(data, status) {
                    car_mlocation = data.length;
                    $(".dropdown-center").empty();
                    if(car_location != data.length){
                        var maxlength = ((car_location+1)*10)-1;
                        if(maxlength > data.length) maxlength = data.length;
                        for(var i = car_location*10; i < maxlength; i++){
                            $(".dropdown-center").append('<div class="pretty p-default"><input type="checkbox" id= "'+data[i]+'" onclick="selectCarID('+data[i]+')"><div class="state p-info"><label><b>'+data[i]+'</b></label></div></div>');
                        }                    
                    }
                } 
        ) 
        }

//홍익대 카 리스트 불러오기
function hongikgetcar(val){
    $.get("/index/hongikgetcar",
    { phonenum: val }, 
    // 서버가 필요한 정보를 같이 보냄. 
        function(data, status) {
            console.log(data);
            hongiklinechart(data[0],1);
            hongiklinechart(data[1],2);
            hongiklinechart(data[2],3);
            hongiklinechart(data[3],4);

        } 
)
}

//서브클래스 한글화
function ksubclass(val){
    if(val == 'Accel'){
        korsubclass = '급 가속';
    } else if(val == 'Decel'){
        korsubclass = '급 감속';
    } else if(val == 'QuickStart'){
        korsubclass = '급 출발';
    } else if(val == 'SuddenStop'){
        korsubclass = '급 정지';
    } else if(val == 'LeftAndRight'){
        korsubclass = '급 좌우회전';
    } else if(val == 'UTurn'){
        korsubclass = '급 유턴';
    } else if(val == 'Distance'){
        korsubclass = '이동거리';
    } else if(val == 'Fuel'){
        korsubclass = '연료 사용량';
    } else if(val == 'FuelEfficiency'){
        korsubclass = '연비효율';
    } else if(val == 'avg_efficiency'){
        korsubclass = '평균연비';
    } else if(val == 'idling'){
        korsubclass = '공회전';
    } else if(val == 'fuel_economy'){
        korsubclass = '연비순위';
    } else if(val == 'total_data'){
        korsubclass = '총 데이터';
    } else if(val == 'car_gps'){
        korsubclass = '차량 위치';
    } else if(val == 'car_route'){
        korsubclass = '이동 경로';
    } else if(val == 'car_stop'){
        korsubclass = '주/정차';
    }
    return korsubclass;
}

//홍대 차량 선택
//시각화 차트 수정할때 함수
$(document).ready(function() {
    $(".search-btn").click(function() {
        car_select = $('#car_select').val();
        hongikgetcar(car_select);
        var offset = $('.svg-container1').offset();
        $('html').animate({scrollTop : offset.top}, 1000);
    });
})
    </script>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="/index">
                            <img class="img-fluid" src="files\assets\images\logo2.png" alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>

                    <!-- 로그아웃 -->
                    <div class="navbar-container container-fluid">
                            <ul class="nav-right">
                                <li class="user-profile header-notification">
                                        <a class="logout" href="/logout">로그아웃</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                        <div class="col-xs-12 ">
                    <nav class="pcoded-navbar">
                        
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item tab nav-link active2" id="nav-company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="true">Company</a>
                            <a class="nav-item tab nav-link" id="nav-category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">Category</a>
                            <a class="nav-item tab nav-link" id="nav-subclass-tab" data-toggle="tab" href="#subclass" role="tab" aria-controls="subclass" aria-selected="false">SubClass</a>
                          </div>

                          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="nav-company-tab">
                                <ul class="pcoded-item pcoded-left-item" id="selectcompany">
                                    
                                    <div class="pcoded-navigatio-lavel">Company</div>
                                    <li class="pcoded-hasmenu  pcoded-trigger">
                                        <a href="javascript:void(0)" onclick="selectcompany('B2B_1')">
                                            <span class="pcoded-micon span_img"><img src="Product.png"></span>
                                            <span class="pcoded-mtext"><b>B2B(물산)</b></span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" onclick="selectcompany('B2B_2')">
                                            <span class="pcoded-micon span_img"><img src="Machine.png"></span>
                                            <span class="pcoded-mtext"><b>B2B(기계, 건설)</b></span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu" onclick="selectcompany('CarSharring')">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon span_img"><img src="Sharing.png"></span>
                                            <span class="pcoded-mtext"><b>CarSharring</b></span>
                                        </a>
                                    </li>
                                    
                                <div class="pcoded-navigatio-lavel">Predictive Vehicle</div>
                                <li class="pcoded-hasmenu">
                                        <a id = "Predictive" href="javascript:void(0)" onclick="selectcompany('Predictive')">
                                            <span class="pcoded-micon span_img"><img src="Product.png"></span>
                                            <span class="pcoded-mtext"><b>차량예지보전</b></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                            
                            <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="nav-category-tab">
                                    <ul class="pcoded-item pcoded-left-item">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                <a href="javascript:void(0)" onclick="selectcategory('driving_type')">
                                                    <span class="pcoded-micon span_img"><img src="Driving.png"></span>
                                                    <span class="pcoded-mtext">주행형태</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" onclick="selectcategory('car_manage')">
                                                    <span class="pcoded-micon span_img"><img src="Manage.png"></span>
                                                    <span class="pcoded-mtext">차량관리</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectcategory('etc')">
                                                <a href="javascript:void(0)">
                                                    <span class="pcoded-micon span_img"><img src="Etc.png"></span>
                                                    <span class="pcoded-mtext">기타</span>
                                                </a>
                                            </li>
                                        </ul>   
                            </div>

                            <div class="tab-pane fade" id="subclass" role="tabpanel" aria-labelledby="nav-subclass-tab">
                                    <ul class="pcoded-item pcoded-left-item" id="driving_type">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('Accel')">
                                                    <span class="pcoded-micon span_img"><img src="Accel.png"></span>
                                                    <span class="pcoded-mtext">급 가속</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('Decel')">
                                                    <span class="pcoded-micon span_img"><img src="Decel.png"></span>
                                                    <span class="pcoded-mtext">급 감속</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" >
                                                <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('QuickStart')">
                                                    <span class="pcoded-micon span_img"><img src="Start.png"></span>
                                                    <span class="pcoded-mtext">급 출발</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('SuddenStop')">
                                                        <span class="pcoded-micon span_img"><img src="stop.png"></span>
                                                        <span class="pcoded-mtext">급 정지</span>
                                                    </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('LeftAndRight')">
                                                        <span class="pcoded-micon span_img"><img src="Leftright.png"></span>
                                                        <span class="pcoded-mtext">급 좌우회전</span>
                                                    </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('UTurn')">
                                                        <span class="pcoded-micon span_img"><img src="Uturn.png"></span>
                                                        <span class="pcoded-mtext">급 유턴</span>
                                                    </a>
                                            </li>
                                    </ul>     
                                    <ul class="pcoded-item pcoded-left-item" id="car_manage">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('Distance')">
                                                        <span class="pcoded-micon span_img"><img src="Distance.png"></span>
                                                        <span class="pcoded-mtext">이동거리</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu  pcoded-trigger">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('Fuel')">
                                                        <span class="pcoded-micon span_img"><img src="Fuel.png"></span>
                                                        <span class="pcoded-mtext">연료 사용량</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu  pcoded-trigger">
                                                        <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('FuelEfficiency')">
                                                            <span class="pcoded-micon span_img"><img src="Efficiency.png"></span>
                                                            <span class="pcoded-mtext">연비효율</span>
                                                        </a>
                                                    </li>
                                                <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('evg_efficiency')">
                                                        <span class="pcoded-micon span_img"><img src="Efficiency.png"></span>
                                                        <span class="pcoded-mtext">평균연비</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('idling')">
                                                        <span class="pcoded-micon span_img"><img src="Idling.png"></span>
                                                        <span class="pcoded-mtext">공회전</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu">
                                                        <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('fuel_economy')">
                                                            <span class="pcoded-micon span_img"><img src="Rank.png"></span>
                                                            <span class="pcoded-mtext">연비 순위</span>
                                                        </a>
                                                </li>
                                    </ul>     
                                    <ul class="pcoded-item pcoded-left-item" id="etc">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('total_data')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">총 데이터</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('car_gps')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">차량 위치</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('car_route')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">이동경로</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" class="add-widget" onclick="selectsubclass('car_stop')">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">주/정차</span>
                                                    </a>
                                            </li>
                                    </ul>     
                            </div>
                            
                          </div>

                          
                    </nav>
                        </div>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                            <div class="row">
                                                            <!-- task, page, download counter  start -->
                                                            <div class="col-xl-4 col-md-6 firstdiv">
                                                                <div class="card bg-c-yellow update-card">
                                                                    <div class="card-block">
                                                                        <div class="row align-items-end">
                                                                            <div class="col-8">
                                                                                <h4 class="text-white">$30200</h4>
                                                                                <h6 class="text-white m-b-0">All Earnings</h6>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <canvas id="update-chart-1" height="50"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-md-6 firstdiv">
                                                                <div class="card bg-c-green update-card">
                                                                    <div class="card-block">
                                                                        <div class="row align-items-end">
                                                                            <div class="col-8">
                                                                                <h4 class="text-white">290+</h4>
                                                                                <h6 class="text-white m-b-0">Page Views</h6>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <canvas id="update-chart-2" height="50"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-md-6 firstdiv">
                                                                <div class="card bg-c-lite-green update-card">
                                                                    <div class="card-block">
                                                                        <div class="row align-items-end">
                                                                            <div class="col-8">
                                                                                <h4 class="text-white">145</h4>
                                                                                <h6 class="text-white m-b-0">Task Completed</h6>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <canvas id="update-chart-3" height="50"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <!--홍대 윗부분-->
                                                            <div class="col-xl-12 col-md-12 lastdiv">
                                                                    <div class="card">
                                                                            <div class="card-header">
                                                                                    <h5 class="chart-name">차량 검색</h5>
                                                                                </div>
                                                                                <div class="card-block">
                                                                                    <div class="table-responsive search-container">
                                                                                        <div class="search-left">
                                                                                                    <b>차량 선택</b> 
                                                                                                    <select id="car_select" name="car_select" class="form-control minimal width250">
                                                                                                    </select>
                                                                                                    <button type="button" class="btn btn-info search-btn">조회하기</button>

                                                                                        </div>
                                                                                        <div class="search-right">
                                                                                                <table border=2 class="tg">
                                                                                                        <tr>
                                                                                                          <th class="tg-vt9a">고장확률</th>
                                                                                                          <th class="tg-vt9a">색상</th>
                                                                                                          <th class="tg-vt9a">상태</th>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                          <td class="tg-7xlb">0% 이상 30% 미만</td>
                                                                                                          <td class="tg-s3fx">초록</td>
                                                                                                          <td class="tg-7xlb">정상</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                          <td class="tg-7xlb">30% 이상 70% 미만</td>
                                                                                                          <td class="tg-hppj">노랑</td>
                                                                                                          <td class="tg-7xlb">주의</td>
                                                                                                        </tr>
                                                                                                        <tr>
                                                                                                          <td class="tg-7xlb">70% 이상</td>
                                                                                                          <td class="tg-s1jn">빨강</td>
                                                                                                          <td class="tg-7xlb">정비 요망</td>
                                                                                                        </tr>
                                                                                                      </table>

                                                                                        </div>
                                                                                    </div> 
                                                                                </div>
                                                                    </div>
                                                            </div>
                                                            <!-- task, page, download counter  end -->
                                                    <!--  sale analytics start -->


                                                            <div class="container-fluid firstdiv">
                                                                    <div class="grid-stack grid-stack-instance-7030" data-gs-current-height="0" style="height: 100px;">
                                                                            <div class="grid-stack-item firstdonut data-gs-x="0" data-gs-y="0" data-gs-width="12" data-gs-height="7"">
                                                                            <div class="grid-stack-item-content">
                                                                                <div class="card">
                                                                                            <div class="card-header margin_46">
                                                                                                    <h5 class="chart-name company-name">회사별 총 데이터</h5>
                                                                                                    <div class="card-header-right">
                                                                                                        <ul class="list-unstyled card-option">
                                                                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                                                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                                                        </ul>
                                                                                                    </div>
                                                                                                </div>
                                                                                                <div class="card-block">
                                                                                                    <div class="table-responsive svg-container">
                                                                                                        <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                                                    </div> 
                                                                                                </div>
                                                                                    </div>  
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                        </div>

                                                    <!--
                                                <div class="col-xl-15 col-md-12 firstdiv">
                                                    <div class="card">
                                                            <div class="card-header margin_46">
                                                                    <h5 class="chart-name company-name">회사별 총 데이터</h5>
                                                                    <div class="card-header-right">
                                                                        <ul class="list-unstyled card-option">
                                                                            <li><i class="feather icon-maximize full-card"></i></li>
                                                                            <li><i class="feather icon-minus minimize-card"></i></li>
                                                                            <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                                <div class="card-block">
                                                                    <div class="table-responsive svg-container">
                                                                        <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                    </div> 
                                                                </div>
                                                    </div>
                                                </div>-->
                                                
                                                    <div class="col-xl-8 col-md-12 lastdiv">
                                                            <div class="card">
                                                                    <div class="card-header">
                                                                            <h5 class="chart-name">엔진 인젝터 타이밍 압력 이상</h5>
                                                                            <div class="card-header-right">
                                                                                <ul class="list-unstyled card-option">
                                                                                    <li><i class="feather icon-maximize full-card"></i></li>
                                                                                    <li><i class="feather icon-minus minimize-card"></i></li>
                                                                                    <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-block">
                                                                            <div class="table-responsive svg-container1">
                                                                                <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                            </div> 
                                                                        </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-xl-4 col-md-12 lastdiv">
                                                            <div class="card">
                                                                    <div class="card-header">
                                                                            <h5 class="chart-name">엔진 배기가스 온도 이상</h5>
                                                                            <div class="card-header-right">
                                                                                <ul class="list-unstyled card-option">
                                                                                    <li><i class="feather icon-maximize full-card"></i></li>
                                                                                    <li><i class="feather icon-minus minimize-card"></i></li>
                                                                                    <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-block">
                                                                            <div class="table-responsive svg-container2">
                                                                                <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                            </div> 
                                                                        </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-xl-4 col-md-12 lastdiv">
                                                            <div class="card">
                                                                    <div class="card-header">
                                                                            <h5 class="chart-name">PTO 속도 센서 저전압</h5>
                                                                            <div class="card-header-right">
                                                                                <ul class="list-unstyled card-option">
                                                                                    <li><i class="feather icon-maximize full-card"></i></li>
                                                                                    <li><i class="feather icon-minus minimize-card"></i></li>
                                                                                    <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-block">
                                                                            <div class="table-responsive svg-container3">
                                                                                <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                            </div> 
                                                                        </div>
                                                            </div>
                                                    </div>
                                                    <div class="col-xl-8 col-md-12 lastdiv">
                                                            <div class="card">
                                                                    <div class="card-header">
                                                                            <h5 class="chart-name">소모 연료 이상</h5>
                                                                            <div class="card-header-right">
                                                                                <ul class="list-unstyled card-option">
                                                                                    <li><i class="feather icon-maximize full-card"></i></li>
                                                                                    <li><i class="feather icon-minus minimize-card"></i></li>
                                                                                    <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                                </ul>
                                                                            </div>
                                                                        </div>
                                                                        <div class="card-block">
                                                                            <div class="table-responsive svg-container4">
                                                                                <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                            </div> 
                                                                        </div>
                                                            </div>
                                                    </div>
                                                    

                                            </div>
                                    </div>
                                </div>
                                <div id="styleSelector">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="files\bower_components\popper.js\js\popper.min.js"></script>
    <script type="text/javascript" src="files\bower_components\bootstrap\js\bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="files\bower_components\jquery-slimscroll\js\jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="files\bower_components\modernizr\js\modernizr.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="files\bower_components\chart.js\js\Chart.js"></script>
    <!-- amchart js -->
    <script src="files\assets\pages\widget\amchart\amcharts.js"></script>
    <script src="files\assets\pages\widget\amchart\serial.js"></script>
    <script src="files\assets\pages\widget\amchart\light.js"></script>
    <script src="files\assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- <script type="text/javascript" src="files\assets\js\SmoothScroll.js"></script> -->
    <script src="files\assets\js\pcoded.min.js"></script>
    <!-- custom js -->
    <script src="files\assets\js\vartical-layout.min.js"></script>
    <!-- <script type="text/javascript" src="files\assets\pages\dashboard\custom-dashboard.js"></script> -->
    <script type="text/javascript" src="files\assets\js\script.js"></script>

<!-- slider -->
<link rel="stylesheet" type="text/css" href="files\assets\css\ion.rangeSlider.css">
<script src="files\assets\js\ion.rangeSlider.js"></script>


<!--캘린더 원래 있던것
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
-->
<script>
//캘린더
$(document).ready(function() {

    //그리드스택
    $(function () {
        var options = {
          float: true
        };
        $('.grid-stack').gridstack(options);
  
        new function () {
          this.items = [
            {x: 0, y: 0, width: 9, height: 7},
            {x: 3, y: 1, width: 5, height: 7},
            {x: 4, y: 1, width: 5, height: 5},
            {x: 2, y: 3, width: 7, height: 5},
  //          {x: 1, y: 4, width: 1, height: 1},
  //          {x: 1, y: 3, width: 1, height: 1},
  //          {x: 2, y: 4, width: 1, height: 1},
            {x: 2, y: 5, width: 7, height: 4}
          ];
  
          this.grid = $('.grid-stack').data('gridstack');
  
          this.addNewWidget = function () {
            console.log(divnum);
            if(divnum > 3){
                alert("더이상 대시보드를 추가할 수 없습니다.")
            }

            else{
                if(divnum < 1){
                    console.log("a")
                    $('.grid-stack').data('gridstack').removeWidget('.firstdonut');
                }
                var node = this.items.pop() || {
                    x: 12 * Math.random(),
                    y: 5 * Math.random(),
                    width: 1 + 3 * Math.random(),
                    height: 1 + 3 * Math.random()
                  };
                  
              this.grid.addWidget($('<div><div class="grid-stack-item-content data-gs-width="4" data-gs-height="2"">'+
                              '<div class="card">'+
                                      '<div class="card-header margin_46">'+
                                              '<h5 class="chart-name company-name'+divnum+'">회사별 총 데이터</h5>'+
                                              '<div class="card-header-right">'+
                                                  '<ul class="list-unstyled card-option">'+
                                                      '<li><i class="feather icon-maximize full-card"></i></li>'+
                                                      '<li><i class="feather icon-minus minimize-card"></i></li>'+
                                                      '<li><i class="feather icon-trash-2 close-card"></i></li>'+
                                                  '</ul>'+
                                              '</div>'+
                                          '</div>'+
                                          '<div class="card-block">'+
                                              '<div class="table-responsive svg-container'+divnum+'">'+
                                                  '<div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>'+
                                              '</div>'+ 
                                          '</div>'+
                              '</div>'+
                      '</div></div>'), node);
                      $('.company-name'+divnum).text(ksubclass(subclass))
                      $('#chart_choice').append('<option name="chart_choice" value="svg-container'+divnum+'">svg-container'+divnum+'</option>');
                      chartchoice = "svg-container"+divnum
                      divnum++;
              return false;
            }
          }.bind(this);
  
          $('.add-widget').click(this.addNewWidget);
        };
      });

    
    //탭 메뉴 포커스 주려고!
    $('#nav-company-tab').last().trigger('click');
    $('#nav-company-tab').focus();
    //첫 차트 그리기
    firstdraw();

    $('#yearpicker').datepicker({
        range: true,
        toggleSelected: false,
        autoClose: true,
        
        onSelect: function(val, date, inst){
            claender_check++;
            if(claender_check == 2) { 
                calender_start = String(val.substring(0,10)); 
                calender_end = String(val.substring(12,23));
                console.log(calender_start)
                console.log(calender_end)
                car_location = 0; getcarList(calender_start, calender_end); claender_check = 0;
            }

            console.log(date.format);
        }
    })
});
$(document).ready(function() {

    $('#monthpicker').datepicker({
        range: true,
        toggleSelected: false,
        autoClose: true,
        
        onSelect: function(val, date, inst){
            claender_check++;
            if(claender_check == 2) { 
                calender_start = String(val.substring(0,10)); 
                calender_end = String(val.substring(12,23));
                console.log(calender_start)
                console.log(calender_end)
                car_location = 0; getcarList(calender_start, calender_end); claender_check = 0;
            }

            console.log(date.format);
        }
    })
});
$(document).ready(function() {

    $('#datepicker').datepicker({
        range: true,
        toggleSelected: false,
        autoClose: true,
        
        onSelect: function(val, date, inst){
            claender_check++;
            if(claender_check == 2) { 
                calender_start = String(val.substring(0,10)); 
                calender_end = String(val.substring(12,23));
                console.log(calender_start)
                console.log(calender_end)
                car_location = 0; getcarList(calender_start, calender_end); claender_check = 0;
            }

            console.log(date.format);
        }
    })
});

</script>
<!--캘린더 2
<link href="files\assets\css\lightpick.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="..\files\assets\js\lightpick.js"></script>
<script>
    var picker = new Lightpick({ field: document.getElementById('datepicker'), singleDate:false, 
    onSelect: function(start, end){
        claender_check++;
        calender_start = String(start.format('YYYY-MM-DD')); 
        calender_end = String(end.format('YYYY-MM-DD'));
        if(claender_check == 2) { car_location = 0; getcarList(calender_start, calender_end); claender_check = 0;}
    }
    });
</script>
-->

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

</html>
