<!DOCTYPE html>
<html lang="en">

<head>
    <title>Adminty - Premium Admin Template by Colorlib </title>
    <!-- HTML5 Shim and Respond.js IE10 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 10]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <![endif]-->
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="#">
    <meta name="keywords" content="Admin , Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app">
    <meta name="author" content="#">
    <!-- Favicon icon -->
    <link rel="icon" href="..\files\assets\images\favicon.ico" type="image/x-icon">
    <!-- Google font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600" rel="stylesheet">
    <!-- Required Fremwork -->
    <link rel="stylesheet" type="text/css" href="..\files\bower_components\bootstrap\css\bootstrap.min.css">
    <!-- feather Awesome -->
    <link rel="stylesheet" type="text/css" href="..\files\assets\icon\feather\css\feather.css">
    <!-- Style.css -->
    <link rel="stylesheet" type="text/css" href="..\files\assets\css\style.css">
    <link rel="stylesheet" type="text/css" href="..\files\assets\css\jquery.mCustomScrollbar.css">
    <!-- 그리드스터 
    <link rel="stylesheet" href="..\files\assets\css\gridstack.css" />
    <script src="..\files\assets\js\gridstack.js"></script>
    <script src="..\files\assets\js\gridstack.jQueryUI.js"></script>
    -->

    <!--D3.JS-->
    <script src="https://d3js.org/d3.v5.js"></script>
    <script src="..\files\assets\js\d3_draw.js"></script>
    <script type="text/javascript" src="..\files\bower_components\jquery\js\jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>


    <script>
        var claender_check = 0; //캘린더 처음 클릭인지 두번째 클릭인지 확인
        var company = "B2B_1"; //어떤 회사인지
        var category = "driving_type"; //어떤 카테고리인지
        var subclass = null;  // 어떤 서브클래스인지
        var chartType = "simplebar"; //차트 형태선택
        var x_value = "carID" 
        var y_value = "count"
        var car_ID = null; //연도별에서 차량 ID선택 할때 사용
        var car_location = 0; //연도별에서 차량 ID보여주는 현재 페이지
        var car_mlocation = 0;
        var rangeslider_value = 10;
        var calender_start = null;
        var calender_end = null;
//회사 설정        
        function selectcompany(x){
            company = x;
            $('#nav-category-tab').last().trigger('click');
        }
//메인 카테고리 설정        
        function selectcategory(x){
            category = x;
            if(category == "driving_type"){
                $('#driving_type').css("display", "block");   
                $('#car_manage').css("display", "none");   
                $('#etc').css("display", "none");   
            }
            else if (category == "car_manage"){
                $('#car_manage').css("display", "block");   
                $('#driving_type').css("display", "none");   
                $('#etc').css("display", "none"); 
            }
            else{
                $('#etc').css("display", "block");   
                $('#driving_type').css("display", "none");   
                $('#car_manage').css("display", "none");   
            }
            $('#nav-subclass-tab').last().trigger('click');
        }
//차트에 필요한 데이터 요청
        function selectsubclass(x){
            $('.loading_div').css("display", "block");
            subclass = x;
            $.get("/chartdraw", 
                { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
            // 서버가 필요한 정보를 같이 보냄. 
                    function(data, status) {
                        $('.chart-name').text(subclass)
                        console.log(data)
                        $('.loading_div').css("display", "none");
                        if( !data[0] ){
                            alert("데이터가 없습니다")
                        } else{
                            if(chartType == 'simplebar'){
                                simplebar(data);
                            } else if(chartType == 'groupbar'){
                                groupbar(data);
                            } else if(chartType == 'line'){
                                linechart(data);
                            }
                        }
                    } 
            ); 
        }
//차트에 필요한 카 입력
        function selectCarID(x){
            car_ID = x;
            selectsubclass(subclass);
        }


//캘린더 클릭시 사용가능한 차 종류 만들어냄
        function getcarList(start, end){
            $.get("/getcarlist", 
            { company: company, category: category, subclass: subclass, chartType: chartType, x_value: x_value, y_value: y_value, rangeslider_value: rangeslider_value, calender_start: calender_start, calender_end: calender_end, car_ID: car_ID}, 
            // 서버가 필요한 정보를 같이 보냄. 
                function(data, status) {
                    car_mlocation = data.length;
                    $(".dropdown-center").empty();
                    if(car_location != data.length){
                        var maxlength = ((car_location+1)*10)-1;
                        if(maxlength > data.length) maxlength = data.length;
                        for(var i = car_location*10; i < maxlength; i++){
                            $(".dropdown-center").append('<a href="#" onclick="selectCarID('+data[i]+')">'+data[i]+'</a>');
                        }                    
                    }
                } 
        ); 
        }
    </script>
</head>

<body>
    <!-- Pre-loader start -->
    <div class="theme-loader">
        <div class="ball-scale">
            <div class='contain'>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
                <div class="ring">
                    <div class="frame"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Pre-loader end -->
    <div id="pcoded" class="pcoded">
        <div class="pcoded-overlay-box"></div>
        <div class="pcoded-container navbar-wrapper">

            <nav class="navbar header-navbar pcoded-header">
                <div class="navbar-wrapper">

                    <div class="navbar-logo">
                        <a class="mobile-menu" id="mobile-collapse" href="#!">
                            <i class="feather icon-menu"></i>
                        </a>
                        <a href="/">
                            <img class="img-fluid" src="..\files\assets\images\logo2.png" alt="Theme-Logo">
                        </a>
                        <a class="mobile-options">
                            <i class="feather icon-more-horizontal"></i>
                        </a>
                    </div>
                </div>
            </nav>

            <div class="pcoded-main-container">
                <div class="pcoded-wrapper">
                        <div class="col-xs-12 ">
                    <nav class="pcoded-navbar">
                        
                        <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-company-tab" data-toggle="tab" href="#company" role="tab" aria-controls="company" aria-selected="true">Company</a>
                            <a class="nav-item nav-link" id="nav-category-tab" data-toggle="tab" href="#category" role="tab" aria-controls="category" aria-selected="false">Category</a>
                            <a class="nav-item nav-link" id="nav-subclass-tab" data-toggle="tab" href="#subclass" role="tab" aria-controls="subclass" aria-selected="false">SubClass</a>
                          </div>

                          <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                            <div class="tab-pane fade show active" id="company" role="tabpanel" aria-labelledby="nav-company-tab">
                                <ul class="pcoded-item pcoded-left-item" id="selectcompany">
                                    <li class="pcoded-hasmenu  pcoded-trigger">
                                        <a href="javascript:void(0)" onclick="selectcompany('B2B_1')">
                                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                            <span class="pcoded-mtext">B2B(물산)</span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu">
                                        <a href="javascript:void(0)" onclick="selectcompany('B2B_2')">
                                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                            <span class="pcoded-mtext">B2B(기계, 건설)</span>
                                        </a>
                                    </li>
                                    <li class="pcoded-hasmenu" onclick="selectcompany('CarSharring')">
                                        <a href="javascript:void(0)">
                                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                            <span class="pcoded-mtext">CarSharring</span>
                                        </a>
                                    </li>
                                </ul> 
                            </div>
                            <div class="tab-pane fade" id="category" role="tabpanel" aria-labelledby="nav-category-tab">
                                    <ul class="pcoded-item pcoded-left-item">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                <a href="javascript:void(0)" onclick="selectcategory('driving_type')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">주행형태</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" onclick="selectcategory('car_manage')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">차량관리</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectcategory('etc')">
                                                <a href="javascript:void(0)">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">기타</span>
                                                </a>
                                            </li>
                                        </ul>   
                            </div>
                            <div class="tab-pane fade" id="subclass" role="tabpanel" aria-labelledby="nav-subclass-tab">
                                    <ul class="pcoded-item pcoded-left-item" id="driving_type">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                <a href="javascript:void(0)" onclick="selectsubclass('Accel')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">급 가속</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" onclick="selectsubclass('Decel')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">급 감속</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectsubclass('QuickStart')">
                                                <a href="javascript:void(0)">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">급 출발</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectsubclass('SuddenStop')">
                                                    <a href="javascript:void(0)">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">급 정지</span>
                                                    </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectsubclass('Sudden_LeftAndRight')">
                                                    <a href="javascript:void(0)">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">급 좌우회전</span>
                                                    </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectsubclass('UTurn')">
                                                    <a href="javascript:void(0)">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">급 유턴</span>
                                                    </a>
                                            </li>
                                    </ul>     
                                    <ul class="pcoded-item pcoded-left-item" id="car_manage">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                    <a href="javascript:void(0)" onclick="selectsubclass('Distance')">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">이동거리</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu  pcoded-trigger">
                                                    <a href="javascript:void(0)" onclick="selectsubclass('fuel_efficiency')">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">연비효율</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu">
                                                    <a href="javascript:void(0)" onclick="selectsubclass('evg_efficiency')">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">평균연비</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu" onclick="selectsubclass('idling')">
                                                    <a href="javascript:void(0)">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">공회전</span>
                                                    </a>
                                                </li>
                                                <li class="pcoded-hasmenu" onclick="selectsubclass('fuel_economy')">
                                                        <a href="javascript:void(0)">
                                                            <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                            <span class="pcoded-mtext">연비 순위</span>
                                                        </a>
                                                </li>
                                    </ul>     
                                    <ul class="pcoded-item pcoded-left-item" id="etc">
                                            <li class="pcoded-hasmenu  pcoded-trigger">
                                                <a href="javascript:void(0)" onclick="selectsubclass('total_data')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">총 데이터</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu">
                                                <a href="javascript:void(0)" onclick="selectsubclass('car_gps')">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">차량 위치</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectsubclass('car_route')">
                                                <a href="javascript:void(0)">
                                                    <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                    <span class="pcoded-mtext">이동경로</span>
                                                </a>
                                            </li>
                                            <li class="pcoded-hasmenu" onclick="selectsubclass('car_stop')">
                                                    <a href="javascript:void(0)">
                                                        <span class="pcoded-micon"><i class="feather icon-home"></i></span>
                                                        <span class="pcoded-mtext">주/정차</span>
                                                    </a>
                                            </li>
                                    </ul>     
                            </div>
                            
                          </div>

                          
                    </nav>
                        </div>
                    <div class="pcoded-content">
                        <div class="pcoded-inner-content">
                            <div class="main-body">
                                <div class="page-wrapper">
                                    <div class="page-body">
                                            <div class="row">
                                                            <!-- task, page, download counter  start -->
                                                            <div class="col-xl-4 col-md-6">
                                                                <div class="card bg-c-yellow update-card">
                                                                    <div class="card-block">
                                                                        <div class="row align-items-end">
                                                                            <div class="col-8">
                                                                                <h4 class="text-white">$30200</h4>
                                                                                <h6 class="text-white m-b-0">All Earnings</h6>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <canvas id="update-chart-1" height="50"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-md-6">
                                                                <div class="card bg-c-green update-card">
                                                                    <div class="card-block">
                                                                        <div class="row align-items-end">
                                                                            <div class="col-8">
                                                                                <h4 class="text-white">290+</h4>
                                                                                <h6 class="text-white m-b-0">Page Views</h6>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <canvas id="update-chart-2" height="50"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="col-xl-4 col-md-6">
                                                                <div class="card bg-c-lite-green update-card">
                                                                    <div class="card-block">
                                                                        <div class="row align-items-end">
                                                                            <div class="col-8">
                                                                                <h4 class="text-white">145</h4>
                                                                                <h6 class="text-white m-b-0">Task Completed</h6>
                                                                            </div>
                                                                            <div class="col-4 text-right">
                                                                                <canvas id="update-chart-3" height="50"></canvas>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-footer">
                                                                        <p class="text-white m-b-0"><i class="feather icon-clock text-white f-14 m-r-10"></i>update : 2:15 am</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                           
                                                            <!-- task, page, download counter  end -->
                                                    <!--  sale analytics start -->
                                                    <div class="col-xl-15 col-md-12" ">
                                                        <div class="card">
                                                                <div class="card-header">
                                                                        <h5 class="chart-name">Application Sales</h5>
                                                                        <div class="card-header-right">
                                                                            <ul class="list-unstyled card-option">
                                                                                <li><i class="feather icon-maximize full-card"></i></li>
                                                                                <li><i class="feather icon-minus minimize-card"></i></li>
                                                                                <li><i class="feather icon-trash-2 close-card"></i></li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="card-block">
                                                                        <div class="table-responsive svg-container">
                                                                            <div class="loading_div" style="display:none"><img style="margin-left: 50%;" src="loading.gif" alt="Chrome"></div>
                                                                        </div> 
                                                                    </div>
                                                        </div>
                                                    </div>
                                            </div>
                                    </div>
                                </div>
                                <div id="styleSelector">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Warning Section Starts -->
    <!-- Older IE warning message -->
    <!--[if lt IE 10]>
<div class="ie-warning">
    <h1>Warning!!</h1>
    <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
    <div class="iew-container">
        <ul class="iew-download">
            <li>
                <a href="http://www.google.com/chrome/">
                    <img src="../files/assets/images/browser/chrome.png" alt="Chrome">
                    <div>Chrome</div>
                </a>
            </li>
            <li>
                <a href="https://www.mozilla.org/en-US/firefox/new/">
                    <img src="../files/assets/images/browser/firefox.png" alt="Firefox">
                    <div>Firefox</div>
                </a>
            </li>
            <li>
                <a href="http://www.opera.com">
                    <img src="../files/assets/images/browser/opera.png" alt="Opera">
                    <div>Opera</div>
                </a>
            </li>
            <li>
                <a href="https://www.apple.com/safari/">
                    <img src="../files/assets/images/browser/safari.png" alt="Safari">
                    <div>Safari</div>
                </a>
            </li>
            <li>
                <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                    <img src="../files/assets/images/browser/ie.png" alt="">
                    <div>IE (9 & above)</div>
                </a>
            </li>
        </ul>
    </div>
    <p>Sorry for the inconvenience!</p>
</div>
<![endif]-->
    <!-- Warning Section Ends -->
    <!-- Required Jquery -->
    <script type="text/javascript" src="..\files\bower_components\jquery-ui\js\jquery-ui.min.js"></script>
    <script type="text/javascript" src="..\files\bower_components\popper.js\js\popper.min.js"></script>
    <script type="text/javascript" src="..\files\bower_components\bootstrap\js\bootstrap.min.js"></script>
    <!-- jquery slimscroll js -->
    <script type="text/javascript" src="..\files\bower_components\jquery-slimscroll\js\jquery.slimscroll.js"></script>
    <!-- modernizr js -->
    <script type="text/javascript" src="..\files\bower_components\modernizr\js\modernizr.js"></script>
    <!-- Chart js -->
    <script type="text/javascript" src="..\files\bower_components\chart.js\js\Chart.js"></script>
    <!-- amchart js -->
    <script src="..\files\assets\pages\widget\amchart\amcharts.js"></script>
    <script src="..\files\assets\pages\widget\amchart\serial.js"></script>
    <script src="..\files\assets\pages\widget\amchart\light.js"></script>
    <script src="..\files\assets\js\jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="..\files\assets\js\SmoothScroll.js"></script>
    <script src="..\files\assets\js\pcoded.min.js"></script>
    <!-- custom js -->
    <script src="..\files\assets\js\vartical-layout.min.js"></script>
    <script type="text/javascript" src="..\files\assets\pages\dashboard\custom-dashboard.js"></script>
    <script type="text/javascript" src="..\files\assets\js\script.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<!-- slider -->
<link rel="stylesheet" type="text/css" href="..\files\assets\css\ion.rangeSlider.css">
<script src="..\files\assets\js\ion.rangeSlider.js"></script>

<!--
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
 calender-->

<!--캘린더 2-->
<link href="..\files\assets\css\lightpick.css" rel="stylesheet" type="text/css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="..\files\assets\js\lightpick.js"></script>
<script>
    var picker = new Lightpick({ field: document.getElementById('datepicker'), singleDate:false, 
    onSelect: function(start, end){
        claender_check++;
        calender_start = String(start.format('YYYY-MM-DD')); 
        calender_end = String(end.format('YYYY-MM-DD'));
        if(claender_check == 2) { car_location = 0; getcarList(calender_start, calender_end); claender_check = 0;}
    }
    });
</script>

<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

</html>
