<!DOCTYPE html>
<html lang="en">
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style type="text/css">


</style>

<script>

    var mapnumber = 1;

  $(document).ready(function() {
    $("#map_type").on('change', function() {
        mapnumber = this.value
        $('#test1').attr('src', 'www/maps/Map'+mapnumber+'.html');
        monitor(mapnumber)
    });
  })

function monitor(num){
    $.get("/index/monitor", 
    { mapnumber: mapnumber}, 
    // 서버가 필요한 정보를 같이 보냄. 
        function(data, status) {
            console.log(data);
            tabledraw(data);
        } 
); 
}






function tabledraw(temp){
        $('.tg').empty()
        $('.tg2').empty()

    var data_columns = temp[0][0]['columns']
    var data_values = temp[0][0]['values'].sort(function (a, b) { 
        return a[3] - b[3];
    });
    
    var namestr; 
    namestr = '<thead class="thead-light"><tr><th class="tg-nrix" colspan="5">외부 차량</th></tr></thead><tr>';
        namestr += '<th>차량 번호</th>' 
        namestr += '<th>시간(분)</th>'
    namestr += '</tr>';
    $('.tg').append(namestr)
    
    var valuestr = '<tbody>'
    for(var i = 0; i < data_values.length; i++){
        valuestr += '<tr>'

        for(var j = data_values[i].length-1; j >= 3; j--){
            valuestr += '<td>'+ data_values[i][j] +'</td>'
        }

        valuestr += '</tr>'
    }
    valuestr += '</tbody>'

    $('.tg').append(valuestr)


    var data_columns = temp[1][0]['columns']
    var data_values = temp[1][0]['values'].sort(function (a, b) { 
        return b[3] - a[3];
    });    
    var namestr;
    namestr = '<thead class="thead-light"><tr><th class="tg-nrix" colspan="5">내부 차량</th></tr></thead><tr>';
        namestr += '<th>차량 번호</th>' 
        namestr += '<th>시간(분)</th>'
    namestr += '</tr>';
    $('.tg2').append(namestr)

    var valuestr = '<tbody>'
    for(var i = 0; i < data_values.length; i++){
        valuestr += '<tr>'

        for(var j = data_values[i].length-1; j >= 3; j--){
            valuestr += '<td>'+ data_values[i][j] +'</td>'
        }

        valuestr += '</tr>'
    }
    valuestr += '</tbody>'
    $('.tg2').append(valuestr)

}

    monitor(mapnumber);


</script>

</head>

<body>
    <img src="www/images/keti.jpg" alt="KETI_LOGO">
  <p>
    <font size = '4' face='휴먼엽서체'>
        <b>(주)삼표산업 레미콘 차량 출도착 확인 서비스</b>
    </font>
  </p>
              <select id="map_type" name="map_type" class="form-control minimal" style="width: 20%">
                <option name="map_type" value="1">성수</option>
                <option name="map_type" value="2">풍납</option>
                <option name="map_type" value="3">광주</option>
                <option name="map_type" value="4">동서울</option>
                <option name="map_type" value="5">양주</option>
                <option name="map_type" value="6">연천</option>
                <option name="map_type" value="7">서부</option>
                <option name="map_type" value="8">일산</option>
                <option name="map_type" value="9">김포</option>
                <option name="map_type" value="10">안양</option>
                <option name="map_type" value="11">화성</option>
                <option name="map_type" value="12">인천</option>
                <option name="map_type" value="13">송도</option>
                <option name="map_type" value="14">평택</option>
                <option name="map_type" value="15">오산</option>
                <option name="map_type" value="16">여주</option>
                <option name="map_type" value="17">원주</option>
                <option name="map_type" value="18">충주</option>
                <option name="map_type" value="19">용인</option>
                <option name="map_type" value="20">안성</option>
                <option name="map_type" value="21">아산</option>
                <option name="map_type" value="22">당진</option>
                <option name="map_type" value="23">청원</option>
                <option name="map_type" value="24">대전</option>
                <option name="map_type" value="25">남부</option>
                <option name="map_type" value="26">남광주</option>
                <option name="map_type" value="27">서부산</option>
                <option name="map_type" value="28">포항</option>
                <option name="map_type" value="29">군산</option>
            </select>


    <!---->
    <div style="margin-top: 20px;">
    <iframe style="float:left" width=70% height="800" margin="0" src ="www/maps/Map1.html" name="test1" id="test1" frameborder="1" scrolling="yes" align="middle">
    </iframe>
    <div class="container" style= "float: left; width: 29.7%; vertical-align:top; height: 800px; overflow: auto;">
    
    <table class="tg table table-hover" style="text-align: center"></table>    
    <table class="tg2 table table-hover" style="text-align: center"></table>                                                                         
    </div>
</div>

</body>
<!--
겟 포스트...
-->

</html>